* {
  box-sizing: border-box;
  background-color: #b7e4af;
}
.formContainer {
  border-radius: 15px;
  background-color: #260e2a;
  padding: 40px;
  margin:10px 5px;
}

.main{
  height: 45em;
  background-color: #260e2a ;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin:10px 5px;
}

.titles{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: #260e2a;
}

.reportContainer{
  height: 50em;
  background-color: #260e2a;
  border-radius: 15px;
  margin:10px 5px;
  padding: 35px;
}

.topMoviesContainer{
  height: 50em;
  background-color: #260e2a;
  border-radius: 15px;
  margin:10px 5px;
  padding: 35px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #57bf45;
  border-radius: 10px;
  resize: vertical;
  background: none;
  color: #f5e8f7;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #f5e8f7;
  font:bold;
  font-size: medium;
  background: none;
}

input[type="submit"] {
  background-color: #57bf45;
  color: #f5e8f7;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  margin: 10px 5px;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  background-color: #260e2a;
}

form{
  background-color: #260e2a;
  color: 260e2a;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  background-color: #260e2a;
}

.row{
  background-color: #260e2a;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.back-btn{
  border-radius: 3px;
  color:#ccc;
  background-color: beige;
}

.reportBtn {
  background-color: #a40e0e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

img{
  height: 25em;
  width:  25em;
  float:right;
  background-color: #260e2a;
  rotate: 0deg 180deg;
}

#feedbackTitle{
  display: flex;
  background: none;
  color: #b7e4af;
  justify-content: center;
}

#maintitle{
  color: #f5e8f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4rem;
  padding-bottom: 0px;
  margin: 3px 20px;
  background: local;
}

#subtitle{
  color: #f5e8f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  padding-top: 0px;
  margin: 3px 20px;
  background: local;
}

#reportTitle{
  color: #f5e8f7;
  background: none;
  display: flex;
  justify-content: center;
}

#topTitle{
  color: #f5e8f7;
  background: none;
  display: flex;
  justify-content: center;
}